@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @userManager.GetUserName(User)</a>
        </li>
         <li class="nav-item">
           <form id="logoutform" method="post" class="form-inline" asp-controller="Account" asp-action="LogOut">
               <button type="submit" class="btn btn-link">LogOut</button>
           </form>
        </li>
    }
    else
    {
        <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    }
</ul>
