@using Microsoft.AspNetCore.Identity
@model IdentityRole
<div class="container">
    <div class="row">
        @{
            var title = "Create Role";
            
        }
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">@title</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Roles" asp-action="Upsert" role="form" method="post">
                    @if(Model !=null && !string.IsNullOrEmpty(Model.Id))
            {
                title = "Update Role";
                <input asp-for="@Model.Id" type="hidden"/>
            }
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" asp-for="Id">Role Id</label>
                        <div class="col-sm-6 mb-4">
                            <input asp-for="Id" type="text" class="form-control"readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" asp-for="Name">Role Name</label>
                        <div class="col-sm-6 mb-4">
                            <input type="text" class="form-control" asp-for="Name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6 mt-2">
                            @if(Model !=null && !string.IsNullOrEmpty(Model.Id))
            {
               <button type="submit" class="btn btn-info">@title</button>
            }else{
                <button type="submit" class="btn btn-info">@title</button>
            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
