
<div class="container">
    <div class="row mt-4">
        <h3 class="text-center">Thanks for confirm your email </h3>
        <br />
        <p class="text-center text-info">Please click on here<a asp-action="Login" asp-controller="Account">Login Here</a></p>
    </div>
</div>
