@model TwoFactorAuthenticationVM
<p>Please Enter the code below in your Authenticator Application</p>
<p>@Model.Token</p>
<form method="post">
    <input type="hidden" asp-for="Token"/>
    <div class="form-group">
        Enter Code : <input type="text" class="form-control" asp-for="Code"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
