<div clas="container">
    <p class="text-center text text-info font-weight-bold">
        Your Password Has been reset Please <a asp-controller="Account" asp-action="Login">
            Click Here To Login 
        </a>
    </p>
</div>
}
