@model VerifyAuthenticatorCodeVM
<h1 class="text-center">Verify Authenticator Code</h1>
<div class="container mt-2">
    <form asp-controller="Account" asp-action="VerifyAuthenticatorCode" 
    asp-route-returnUrl="@ViewData["ReturnUrl"]" role="form" method="post">
<div asp-validation-summary="All" class="text-danger"></div>
  <input type="hidden" asp-for="RememberMe" />
<div class="form-group row">
  
    <label class="col-sm-3 col-form-label">Enter Code</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" asp-for="Code"/>
        <span class="text-danger" asp-validation-for="Code"></span>
    </div>
</div>
<div class="mt-2 text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }